<div class = "container">
  <div class="alert alert-danger text-center" >
    <strong>Error!</strong> Sorry, your payment was refused.
  </div>

<div class="jumbotron text-center">
<p> Please try again with a different card or payment method</p> <br/>
      <a href="/" to="#/">
          <button type="button" class="btn btn-primary">Go back to home page</button>
      </a>
</div>
</div>