
<div class = "container">
<div class="jumbotron text-center">
<h1> Welcome to Subha's payments page </h1>
<p> Please make the payment to test the integration. </p> <br/>
      <a href="/pay">
          <button type="button" class="btn btn-primary">Pay &euro;10</button>
      </a>
</div>
</div>


