<div class = "container">
  <div class="alert alert-warning text-center" >
    <strong>Pending!</strong> Your payment is being processed.
  </div>

<div class="jumbotron text-center">
<p> Thanks for testing the integration.</p> <br/>
      <a href="/" to="#/">
          <button type="button" class="btn btn-primary">Go back to home page</button>
      </a>
</div>
</div>