

.custom-hidden{
    display: none;
}

#dropin-container {
   width: 100%;
   max-width: 450px;
 }

 
 @media screen and (max-width: 1076px) {
   #dropin-container {
     width: 100%;
     max-width: 610px;
   }
 }